* {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

body {
  background-color: #e4aa3e6b;
}

main {
 position: relative;
 }

h1 {
  margin: 20px auto;
  padding: 10px;
  border: solid black 3px;
  background-color: #4477809f;
  display: inline-block;
}

h2 {
  font-size: 2em;
  padding: 0 20px;
}

h3 {
  padding: 0 15px;
}

p {
  padding: 0 15px;
}

li {
  margin: 10px auto;
}

header {
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #181306e1;
  opacity: 0.9;
  border-radius: 1%;
}

#intro-img {
  width: 25%;
  border-radius: 3%;
  margin-right: 10%;
}

#secondary-img {
  border-radius: 3%;
  width: 25%;
  margin-left: 10%;
}


 #intro {
  border: solid #181306e1 5px;
  border-radius: 1%;
  margin: 20px;
  background-color: #4477809f; 
  box-shadow: -.5em .5em #111111;
  opacity: 0.8;
}

#top-ten {
  bottom: 0;
}

.left-sections {
  border: solid #181306e1 5px;
  border-radius: 1%;
  margin: 20px;
  margin-right: 53%;
  background-color: #4477809f; 
  box-shadow: -.5em .5em #111111;
  opacity: 0.8;
}

.right-sections {
  border: solid #181306e1 5px;
  border-radius: 1%;
  margin: 20px;
  margin-left: 51%;
  background-color: #4477809f; 
  box-shadow: -.5em .5em #111111;
  opacity: 0.8;
  position: absolute;
}

footer { 
  background-color: #181306e1;
  color: whitesmoke;
  display: inline-block;
  border-radius: 1%;
  position: sticky;
  text-align: center;
}
